<footer class="footer">
    <div class="container">
        <div class="columns is-mobile is-multiline">
            <div class="column is-12-touch is-4-desktop">
                <img class="image logo mb-20" src="/images/logo.png" alt="logo">
                <p class="content has-text-justified">
                    CODEventure to największa polska konferencja poświęcona programowaniu i tematom powiązanym.
                    Jeśli pracujesz w branży IT lub jesteś pasjonatem web-developmentu to nie może Cię zabraknąć.
                </p>
            </div>
            <div class="column is-0-touch is-1-desktop is-paddingless">
                <!--spacer-->
            </div>
            <div class="column is-6-touch is-2-desktop">
                <aside class="menu">
                    <p class="menu-label">
                        Menu
                    </p>
                    <ul class="menu-list">
                        <li><a href="/speakers">Prelegenci</a></li>
                        <li><a href="/schedule">Agenda</a></li>
                        <li><a href="/venue">Miejsce</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-6-touch is-2-desktop">
                <aside class="menu">
                    <p class="menu-label">
                        Dokumenty
                    </p>
                    <ul class="menu-list">
                        <li><a href="#">Regulamin</a></li>
                        <li><a href="#">Polityka prywatności</a></li>
                        <li><a href="#">Licencje</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-12-touch is-3-desktop">
                <div class="columns is-mobile is-pulled-right-desktop socials">
                    <div class="column has-text-centered">
                        <a rel="nofollow" href="https://www.facebook.com/" target="_blank" class="social-link">
                            <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="m16 4h2.2v-3.8c-0.4-0.1-1.7-0.2-3.2-0.2-3.2 0-5.3 2-5.3 5.6v3.4h-3.5v4.3h3.5v10.7h4.3v-10.7h3.3l0.5-4.3h-3.9v-2.9c0-1.2-2.1 2.1-2.1z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="column has-text-centered">
                        <a rel="nofollow" href="https://twitter.com/" target="_blank" class="social-link">
                            <svg class="social-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M512 97.2c-19 8.4-39.3 13.9-60.5 16.6 21.8-13 38.4-33.4 46.2-58 -20.3 12.1-42.7 20.6-66.6 25.4C411.9 60.7 384.4 48 354.5 48c-58.1 0-104.9 47.2-104.9 105 0 8.3 0.7 16.3 2.4 23.9 -87.3-4.3-164.5-46.1-216.4-109.8 -9.1 15.7-14.4 33.7-14.4 53.1 0 36.4 18.7 68.6 46.6 87.2 -16.9-0.3-33.4-5.2-47.4-12.9 0 0.3 0 0.7 0 1.2 0 51 36.4 93.4 84.1 103.1 -8.5 2.3-17.9 3.5-27.5 3.5 -6.7 0-13.5-0.4-19.9-1.8 13.6 41.6 52.2 72.1 98.1 73.1 -35.7 27.9-81.1 44.8-130.1 44.8 -8.6 0-16.9-0.4-25.1-1.4C46.5 446.9 101.6 464 161 464c193.2 0 298.8-160 298.8-298.7 0-4.6-0.2-9.1-0.4-13.6C480.2 137 497.7 118.5 512 97.2z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="column has-text-centered">
                        <a rel="nofollow" href="https://www.instagram.com/" target="_blank" class="social-link">
                            <svg class="social-icon" viewBox="0 0 511 511.9" xmlns="http://www.w3.org/2000/svg">
                                <path d="m510.95 150.5c-1.1992-27.199-5.5977-45.898-11.898-62.102-6.5-17.199-16.5-32.598-29.602-45.398-12.801-13-28.301-23.102-45.301-29.5-16.297-6.3008-34.898-10.699-62.098-11.898-27.402-1.3008-36.102-1.6016-105.6-1.6016s-78.199 0.30078-105.5 1.5c-27.199 1.1992-45.898 5.6016-62.098 11.898-17.203 6.5-32.602 16.5-45.402 29.602-13 12.801-23.098 28.301-29.5 45.301-6.3008 16.301-10.699 34.898-11.898 62.098-1.3008 27.402-1.6016 36.102-1.6016 105.6s0.30078 78.199 1.5 105.5c1.1992 27.199 5.6016 45.898 11.902 62.102 6.5 17.199 16.598 32.598 29.598 45.398 12.801 13 28.301 23.102 45.301 29.5 16.301 6.3008 34.898 10.699 62.102 11.898 27.297 1.2031 36 1.5 105.5 1.5s78.199-0.29688 105.5-1.5c27.199-1.1992 45.898-5.5977 62.098-11.898 34.402-13.301 61.602-40.5 74.902-74.898 6.2969-16.301 10.699-34.902 11.898-62.102 1.1992-27.301 1.5-36 1.5-105.5s-0.10156-78.199-1.3008-105.5zm-46.098 209c-1.1016 25-5.3008 38.5-8.8008 47.5-8.6016 22.301-26.301 40-48.602 48.602-9 3.5-22.598 7.6992-47.5 8.7969-27 1.2031-35.098 1.5-103.4 1.5s-76.5-0.29688-103.4-1.5c-25-1.0977-38.5-5.2969-47.5-8.7969-11.098-4.1016-21.199-10.602-29.398-19.102-8.5-8.3008-15-18.301-19.102-29.398-3.5-9-7.6992-22.602-8.7969-47.5-1.2031-27-1.5-35.102-1.5-103.4s0.29688-76.5 1.5-103.4c1.0977-25 5.2969-38.5 8.7969-47.5 4.1016-11.102 10.602-21.199 19.203-29.402 8.2969-8.5 18.297-15 29.398-19.098 9-3.5 22.602-7.6992 47.5-8.8008 27-1.1992 35.102-1.5 103.4-1.5 68.402 0 76.5 0.30078 103.4 1.5 25 1.1016 38.5 5.3008 47.5 8.8008 11.098 4.0977 21.199 10.598 29.398 19.098 8.5 8.3008 15 18.301 19.102 29.402 3.5 9 7.6992 22.598 8.8008 47.5 1.1992 27 1.5 35.098 1.5 103.4s-0.30078 76.301-1.5 103.3z"/>
                                <path d="m256.45 124.5c-72.598 0-131.5 58.898-131.5 131.5s58.902 131.5 131.5 131.5c72.602 0 131.5-58.898 131.5-131.5s-58.898-131.5-131.5-131.5zm0 216.8c-47.098 0-85.301-38.199-85.301-85.301s38.203-85.301 85.301-85.301c47.102 0 85.301 38.199 85.301 85.301s-38.199 85.301-85.301 85.301z"/>
                                <path d="m423.85 119.3c0 16.953-13.746 30.699-30.703 30.699-16.953 0-30.699-13.746-30.699-30.699 0-16.957 13.746-30.699 30.699-30.699 16.957 0 30.703 13.742 30.703 30.699z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>