<nav class="navbar is-fixed-top is-light" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/images/logo.png">
            </a>

            <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">Home</a>
                <a href="/speakers" class="navbar-item">Prelegenci</a>
                <a href="/schedule" class="navbar-item">Agenda</a>
                <a href="/venue" class="navbar-item">Miejsce</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="/#buyTicket" class="button is-primary is-rounded is-fullwidth">Kup bilet</a>
                </div>
            </div>
        </div>
    </div>
</nav>