<section class="section page-title">
    <div class="container">
        <h1 class="title">{{title}}</h1>
        {{#if subtitle}}
            <h2 class="subtitle">
                {{subtitle}}
            </h2>
        {{/if}}
    </div>
</section>