<section class="section has-text-centered mt-45 mb-45">
    <div class="container">
        <h1 class="title is-1 is-text-800">
            O <span style="color: #ff0093">CODE</span><span style="color: #a1a1a1">venture</span> 2020
        </h1>
        <p class="subtitle">Warszawa, 15 maja</p>
        <div class="columns mt-25">
            <div class="column">
                <p class="content event-description">
                    CODEventure to największa polska konferencja poświęcona programowaniu i tematom powiązanym.
                    Jeśli pracujesz w branży IT lub jesteś pasjonatem web-developmentu to nie może Cię zabraknąć.
                </p>
                <p class="content event-description">
                    Nasza cała konferencja zawiera się w jednym dniu, a dodatkowo w tym roku wystąpią prelegenci
                    związani z rozwojem produktów wirtualnych, którzy pokażą Ci jak rozwijać swoją własną markę.
                </p>
            </div>
            <div class="column last-event">
                <figure class="image has-text-centered">
                    <img src="/images/last.jpg" alt="last codeventure">
                    <p class="content">CODEventrue 2019</p>
                </figure>
            </div>
        </div>
    </div>
</section>
<section class="hero is-danger is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <nav class="level counter">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">4</p>
                        <p class="heading">Wykładów</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">21K</p>
                        <p class="heading">Uczestników</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">4</p>
                        <p class="heading">Prelegentów</p>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
<section class="section mt-45 mb-45" id="buyTicket">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths">
                <h3 class="title is-3">Dlaczego warto do nas zajrzeć</h3>
                <div class="content is-medium">
                    <ul class="pros">
                        <li>Najlepsi prelegenci z całej Polski, pracujący na codzień z klientami z branży</li>
                        <li>Prelekcje bazujące tylko i wyłącznie na projektach działających w biznesie</li>
                        <li>Darmowe napoje (w tym świeżo mielona kawa) w przerwach</li>
                        <li>Afterparty z open barem na zakończenie imprezy</li>
                    </ul>
                </div>
            </div>
            <div class="column is-two-fifths">
                <h3 class="title is-3">Zakup biletu</h3>
                <form action="/buy" method="post">
                    <div class="field">
                        <label class="label">Imię i nazwisko</label>
                        <div class="control">
                            <input class="input" type="text">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Adres email</label>
                        <div class="control">
                            <input class="input" type="email">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Ilość</label>
                        <div class="control">
                            <div class="select">
                                <select id="ticketAmount">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="content is-inline-block-desktop subtitle is-4">
                        Cena: <span id="price">199.99</span> zł
                    </div>
                    <div class="field is-inline-block-desktop is-pulled-right-desktop">
                        <div class="control">
                            <button class="button is-primary is-rounded">Kup bilet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    $('#ticketAmount').on('change', function () {
        $('#price').text(this.value * 199.99);
    });
</script>