<section class="section has-text-centered mt-45 mb-45">
    <div class="container">
        <h1 class="title is-1 is-text-800">
            <span style="color: #ff0093">CODE</span><span style="color: #a1a1a1">venture</span> 2020
        </h1>
        <p class="subtitle">Warszawa, 15 maja</p>
        <div class="columns mt-25">
            <div class="column">
                <p class="content event-description">
                    CODEventure to największa polska konferencja poświęcona programowaniu i tematom powiązanym.
                    Jeśli pracujesz w branży IT lub jesteś pasjonatem web-developmentu to nie może Cię zabraknąć.
                </p>
                <p class="content event-description">
                    Nasza cała konferencja zawiera się w jednym dniu, a dodatkowo w tym roku wystąpią prelegenci
                    związani z rozwojem produktów wirtualnych, którzy pokażą Ci jak rozwijać swoją własną markę.
                </p>
            </div>
            <div class="column last-event">
                <figure class="image has-text-centered">
                    <img src="/images/last.jpg" alt="last codeventure">
                    <p class="content">CODEventrue 2019</p>
                </figure>
            </div>
        </div>
        <div class="mt-45">
            <button class="button is-medium is-rounded" id="open-quiz">Weź udział w quizie</button>
        </div>
    </div>
</section>
<section class="hero is-danger is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <nav class="level counter">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">4</p>
                        <p class="heading">Wykładów</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">21K</p>
                        <p class="heading">Uczestników</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="title">4</p>
                        <p class="heading">Prelegentów</p>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
<section class="section mt-45 mb-45" id="buyTicket">
    <div class="container">
        <div class="columns">
            <div class="column is-three-fifths">
                <h3 class="title is-3">Dlaczego warto do nas zajrzeć</h3>
                <div class="content is-medium">
                    <ul class="pros">
                        <li>Najlepsi prelegenci z całej Polski, pracujący na codzień z klientami z branży</li>
                        <li>Prelekcje bazujące tylko i wyłącznie na projektach działających w biznesie</li>
                        <li>Darmowe napoje (w tym świeżo mielona kawa) w przerwach</li>
                        <li>Afterparty z open barem na zakończenie imprezy</li>
                    </ul>
                </div>
            </div>
            <div class="column is-two-fifths">
                <h3 class="title is-3">Zakup biletu</h3>
                <form action="/ticket-order" method="post">
                    <div class="field">
                        <label class="label">Imię i nazwisko</label>
                        <div class="control">
                            <input class="input" type="text" name="fullName">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Adres email</label>
                        <div class="control">
                            <input class="input" type="email" name="email">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Ilość</label>
                        <div class="control">
                            <div class="select">
                                <select id="ticketAmount" name="amount">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="content is-inline-block-desktop subtitle is-4">
                        Cena: <span id="price">199.99</span> zł
                    </div>
                    <div class="field is-inline-block-desktop is-pulled-right-desktop">
                        <div class="control">
                            <button class="button is-primary is-rounded">Kup bilet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">CODEventure QUIZ</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body quiz">
            <div class="field question">
                <label class="label">1. Jaki jest najpopularniejszy framework w Javie?</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="question1" value="dropwizard">
                        Dropwizard
                    </label>
                    <label class="radio">
                        <input type="radio" name="question1" value="spring">
                        Spring
                    </label>
                    <label class="radio">
                        <input type="radio" name="question1" value="javalin">
                        Javalin
                    </label>
                    <label class="radio">
                        <input type="radio" name="question1" value="spark">
                        Spark
                    </label>
                </div>
            </div>
            <div class="field question">
                <label class="label">2. Która z technologii <strong>nie</strong> jest pre-procesorem języka CSS?</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="question2" value="less">
                        Less
                    </label>
                    <label class="radio">
                        <input type="radio" name="question2" value="sass">
                        Sass
                    </label>
                    <label class="radio">
                        <input type="radio" name="question2" value="twig">
                        Twig
                    </label>
                    <label class="radio">
                        <input type="radio" name="question2" value="stylus">
                        Stylus
                    </label>
                </div>
            </div>
            <div class="field question">
                <label class="label">3. Która firma jest właścicielem technologii Java?</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="question3" value="oracle">
                        Oracle
                    </label>
                    <label class="radio">
                        <input type="radio" name="question3" value="ibm">
                        IBM
                    </label>
                    <label class="radio">
                        <input type="radio" name="question3" value="sun">
                        Sun Microsystems
                    </label>
                    <label class="radio">
                        <input type="radio" name="question3" value="google">
                        Google
                    </label>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-primary is-rounded" id="check-quiz">Sprawdź</button>
            <div class="is-disabled" id="quiz-result">
                <p class="content">Twój wynik: <span id="quiz-result-score"></span>/3</p>
            </div>
        </footer>
    </div>
</div>
<script>
    $('#ticketAmount').on('change', function () {
        $('#price').text(this.value * 199.99);
    });
</script>
<script>
    document.querySelector('#open-quiz').addEventListener('click', function (event) {
        event.preventDefault();
        var modal = document.querySelector('.modal');
        var html = document.querySelector('html');
        modal.classList.add('is-active');
        html.classList.add('is-clipped');

        modal.querySelector('.modal-background').addEventListener('click', function (e) {
            e.preventDefault();
            modal.classList.remove('is-active');
            html.classList.remove('is-clipped');
        });

        modal.querySelector('.delete').addEventListener('click', function (e) {
            e.preventDefault();
            modal.classList.remove('is-active');
            html.classList.remove('is-clipped');
        });
    });
</script>
<script>
    let button = $('#check-quiz');
    button.on('click', function () {
        let q1 = $('input[name="question1"]:checked').val();
        let q2 = $('input[name="question2"]:checked').val();
        let q3 = $('input[name="question3"]:checked').val();

        let score = 0;

        if (q1 === 'spring') {
            score++;
        }

        if (q2 === 'twig') {
            score++;
        }

        if (q3 === 'oracle') {
            score++;
        }

        button.prop('disabled', true);
        $('#quiz-result-score').text(score);
        $('#quiz-result').removeClass('is-disabled');
    })
</script>