<section class="section">
    <div class="container">
        <h1 class="title">Zapisz się</h1>
        <h2 class="subtitle">
            Podtytuł na stronie Zapisz się
        </h2>
    </div>
</section>