{{> pageTitle title='Agenda' subtitle='Zobacz co przygotowaliśmy w tym roku' }}
<section class="section schedule">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-three-quarters">
                <div class="schedule-line break columns">
                    <div class="column is-2">
                        <div class="schedule-time">9:00</div>
                    </div>
                    <div class="column is-10">
                        <div class="schedule-header">REJESTRACJA</div>
                    </div>
                </div>
                <div class="schedule-line columns">
                    <div class="column is-2">
                        <div class="schedule-time">10:00</div>
                    </div>
                    <div class="column is-10">
                        <div class="schedule-header">Use your IDE like the pros</div>
                        <div class="schedule-description">
                            Zobacz jak w pełni wykorzystać potencjał swojego IDE.
                        </div>
                        <div class="schedule-speaker">Mateusz Pawlak</div>
                    </div>
                </div>
                <div class="schedule-line break columns">
                    <div class="column is-2">
                        <div class="schedule-time">11:30</div>
                    </div>
                    <div class="column is-10">
                        <div class="schedule-header">PRZERWA</div>
                    </div>
                </div>
                <div class="schedule-line columns">
                    <div class="column is-2">
                        <div class="schedule-time">12:00</div>
                    </div>
                    <div class="column is-10">
                        <div class="schedule-header">Jak budować efektywną markę wokół swojego produktu</div>
                        <div class="schedule-description">
                            Historia pewnej firmy, która z garażu trafiła na Wall Street w 2 lata.
                        </div>
                        <div class="schedule-speaker">Klara Chmielewska</div>
                    </div>
                </div>
                <div class="schedule-line break columns">
                    <div class="column is-2">
                        <div class="schedule-time">13:30</div>
                    </div>
                    <div class="column is-10">
                        <div class="schedule-header">PRZERWA I NETWORKING</div>
                    </div>
                </div>
                <div class="schedule-line break columns">
                    <div class="column is-2">
                        <div class="schedule-time">14:15</div>
                    </div>
                    <div class="column is-10">
                        <div class="schedule-header">LUNCH</div>
                    </div>
                </div>
                <div class="schedule-line columns">
                    <div class="column is-2">
                        <div class="schedule-time">15:00</div>
                    </div>
                    <div class="column is-10">
                        <div class="schedule-header">Kod w którym nie zginiesz po roku</div>
                        <div class="schedule-description">
                            Pokaże Wam jak zaprojektować i zaimplementować aplikację,
                            która będzie miała potencjał rozwoju przez długie lata!
                        </div>
                        <div class="schedule-speaker">Dawid Nowakowski</div>
                    </div>
                </div>
                <div class="schedule-line break columns">
                    <div class="column is-2">
                        <div class="schedule-time">16:00</div>
                    </div>
                    <div class="column is-10">
                        <div class="schedule-header">PRZERWA</div>
                    </div>
                </div>
                <div class="schedule-line columns">
                    <div class="column is-2">
                        <div class="schedule-time">16:45</div>
                    </div>
                    <div class="column is-10">
                        <div class="schedule-header">Startup od A do Z</div>
                        <div class="schedule-description">
                            Zobacz jak znaleźć inwestorów do swojego projektu i współpracować z nimi w dalszym okresie.
                        </div>
                        <div class="schedule-speaker">Asia Grabowska</div>
                    </div>
                </div>
                <div class="schedule-line break columns">
                    <div class="column is-2">
                        <div class="schedule-time">18:00</div>
                    </div>
                    <div class="column is-10">
                        <div class="schedule-header">ZAKOŃCZENIE I NETWORKING</div>
                    </div>
                </div>
                <div class="schedule-line break columns">
                    <div class="column is-2">
                        <div class="schedule-time">20:00</div>
                    </div>
                    <div class="column is-10">
                        <div class="schedule-header">AFTERPARTY</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>