<section class="section">
    <div class="container">
        <h1 class="title">Prelegenci</h1>
        <h2 class="subtitle">
            Podtytuł na stronie Prelegenci
        </h2>
    </div>
</section>