<section class="section page-title">
    <div class="container">
        <h1 class="title">Prelegenci</h1>
        <h2 class="subtitle">
            Zobacz kto zagości na naszej scenie w tym roku
        </h2>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card speaker">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/images/speakers/klara.jpg" alt="Speaker image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-5 speaker-name">Klara Chmielewska</p>
                                <p class="subtitle is-6 speaker-position">Product designer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card speaker">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/images/speakers/mateusz.jpg" alt="Speaker image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-5 speaker-name">Mateusz Pawlak</p>
                                <p class="subtitle is-6 speaker-position">Senior Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card speaker">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/images/speakers/dawid.jpg" alt="Speaker image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-5 speaker-name">Dawid Nowakowski</p>
                                <p class="subtitle is-6 speaker-position">Software architect</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card speaker">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/images/speakers/asia.jpg" alt="Speaker image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-5 speaker-name">Asia Grabowska</p>
                                <p class="subtitle is-6 speaker-position">MyCode CEO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>